<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kxingyi.blog.mapper.AboutMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kxingyi.blog.pojo.About">
        <id column="about_id" property="aboutId"/>
        <result column="about_title" property="aboutTitle"/>
        <result column="about_content" property="aboutContent"/>
        <result column="about_read" property="aboutRead"/>
        <result column="created_time" property="createdTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="version" property="version"/>
        <result column="enable" property="enable"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        about_id,
        about_title,
        about_content,
        about_read,
        created_time,
        update_time,
        version,
        enable,
        deleted
    </sql>
    <insert id="save" parameterType="com.kxingyi.blog.pojo.About">
        insert into bl_about(about_id, about_title, about_content)
        values (#{aboutId}, #{aboutTitle},#{aboutContent})
    </insert>
    <update id="updateById" parameterType="com.kxingyi.blog.pojo.About">
        update bl_about
        <set>
            <if test="aboutTitle != null and aboutTitle != ''">
                about_title  = #{aboutTitle},
            </if>
            <if test="aboutContent != null and aboutContent != ''">
                about_content  = #{aboutContent},
            </if>
            <if test="aboutRead != null and aboutRead != ''">
                about_read  = #{aboutRead},
            </if>
            <if test="updateTime != null and updateTime != ''">
                update_time  = #{updateTime},
            </if>
            <if test="1 == 1">
                version  = version + 1,
            </if>
            <if test="enable != null and enable != ''">
                enable  = #{enable},
            </if>
            <if test="deleted != null and deleted != ''">
                deleted  = #{deleted},
            </if>
        </set>
        where about_id = #{aboutId}
    </update>
    <update id="updateEnable" parameterType="com.kxingyi.blog.pojo.About">
        update bl_about
        set enable  = #{enable}
        where about_id = #{aboutId}
    </update>
    <delete id="deleteById" parameterType="int">
        delete from bl_about
        where about_id = #{param}
    </delete>
    <select id="getById" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include>
        from bl_about
        where about_id = #{param}
    </select>
    <select id="getByPage" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include>
        from bl_about
        where deleted = 0
        <if test="params.aboutTitle != null and params.aboutTitle != ''">
            and about_title like concat('%',#{params.aboutId},'%')
        </if>
        <if test="params.aboutId != null and params.aboutId != ''">
            and aboutId = #{params.aboutId}
        </if>
        <if test="sortColumn!=null and sortColumn!=''">
            order by ${sortColumn} ${sortMethod}
        </if>
        limit #{index}, #{pageSize}
    </select>
    <select id="getCountByPage" resultType="java.lang.Integer">
        select count(*)
        from bl_about
        where deleted = 0
        <if test="params.aboutTitle != null and params.aboutTitle != ''">
            and about_title like concat('%',#{params.aboutId},'%')
        </if>
        <if test="params.aboutId != null and params.aboutId != ''">
            and aboutId = #{params.aboutId}
        </if>
    </select>
    <select id="getAbout" resultMap="BaseResultMap" parameterType="com.kxingyi.blog.utils.model.Page">
        select <include refid="Base_Column_List"></include>
        from bl_about
        where deleted = 0
        limit 1
    </select>
</mapper>
